/* ====================================================

	File Name: Red Theme (red-theme.css)
	Description: Red theme for Canvas
	Author: Donny Burnside
	Author URI: http://www.donnyburnside.co.uk
	Version: 1.0.0
	License: GNU General Public License v3.0
	License URI: http://www.gnu.org/licenses/gpl.html

	Canvas - A Free Website Template by Donny Burnside
	Copyright 2015 Donny Burnside
	Distributed under the terms of the GNU GPL

	For help and support please visit http://www.donnyburnside.co.uk

   ==================================================== */

/* ====================================================
	Accent Colour (Links, buttons, borders, etc)
   ==================================================== */



/* Colour */
a,
.post .entry-title,
.author-name,
.posts-by-author-title {
		color: #E74C4E;
}

/* Background Colour */
#masthead{
	background-image: url('../mh-home-01.png');
	background-position: top;
	background-repeat: no-repeat;
	height: 350px;
}
#isotope-menu,
.isotope-item a .overlay,
.project-description-title:after,
.project-details-title:after,
button,
.button,
input[type="submit"],
input[type="cancel"],
::selection {
	background-color: #E74C4E;

}


#page-title .entry-title {
	color: white;
	text-shadow: -3px 1px #2B4768;
	font-family: 'Dosis', sans-serif;
	font-size: 40px;
	letter-spacing: 1px;
  font-weight: bolder 100;
}
#page-title .description {
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
  font-weight: bolder 400;
}

#content{
	background-image: url('../BGcontent_Index.png');
	background-repeat: no-repeat;
	background-position: top;
	width: auto;
	height: 700px;
}

#intro {
	height: 450px;
}

.introduccion {
  padding-top: 120px;
  font-size: 18px;
	line-height: 25px;
  font-family: 'Dosis', sans-serif;
  font-weight: bolder 100;
	letter-spacing: 1px;
  color: #141516;

}
.chance {
  padding-top: 30px;
  font-size: 23px;
  font-family: 'Pompiere', sans-serif;
  font-weight: bolder;
	letter-spacing: 1px;
  color: #334b60;

}

#blog {
	height: 250px;
	}


.resumen {
	font-size: 17px;
	line-height: 20px;
	font-family: 'Nixie One', cursive;
	font-weight: bolder;
	letter-spacing: 0.5px;
  color: #141516;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 25px;
	margin-bottom: 15px;
	background-color: white;
	-webkit-border-radius:60px;
	-moz-border-radius: 10px 10px;
	width: 40%; height: 10%;
   filter:alpha(opacity=20);
   -moz-opacity:0.2;
   opacity: 0.9;
			}

		@media all and (max-width: 700px){
		  .resumen{
			   width:100%;
			   height:100%;
			  }
			}



/* Borders */
#prefooter {
	border-color:#E74C4E;

}
